.menu-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
  opacity: 0.9;
  pointer-events: none;
  border: 1px solid #c5cddc5c;
  border-radius: 7px;
}

.primary-menu {
  top: 50px;
  left: 10px;
}

.secondary-menu {
  top: 0px;
  left: 52px;
}

.menu-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  height: 42px;
  width: 42px;
  pointer-events: auto;
  user-select: none;
  border: none;
  background: white;
  outline: none;
}

.first-btn {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.last-btn {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.menu-button:hover {
  background: #f2f3f9;
}

.selected,
.selected:hover,
.menu-button:active {
  background: #4959ac;
  color: white;
}

.selected > svg > g > g,
.menu-button:active > svg > g > g {
  stroke: white;
}
